.background-grid {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin-top: 210px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-count: 3; 
    gap: 0;
    z-index: -10;
    background-color: black;
}

.background-grid img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
}

.center-overlay {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 2rem;
  width: 90%;
  max-width: 600px;
  z-index: 10000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  text-align: left;
}

.center-overlay .overlay-content h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.center-overlay .overlay-content p {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: normal;
  margin-bottom: 1rem;
}


/* SMALL PAGE */
@media all and (max-width: 450px) {

.background-grid {
    margin-top: 140px;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}

.center-overlay {
    padding: 2rem;
  }

  .center-overlay .overlay-content h1 {
    font-size: 1rem;
  }

  .center-overlay .overlay-content p {
    font-size: 0.8rem;
  }
}
